services:
  postgres-test:
    image: postgres:15
    container_name: planner-auth-test-db
    environment:
      POSTGRES_USER: ${TEST_DB_USER}
      POSTGRES_PASSWORD: ${TEST_DB_PASSWORD}
      POSTGRES_DB: ${TEST_DB_NAME}
    ports:
      - ${TEST_DB_PORT}:${DB_PORT}  # Different port to not conflict with dev DB